<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="CodingTrackerDB"
             connectionString="Data Source=codingTrackerDb.db" />
        <add name="CodingGoalDB"
             connectionString="Data Source=codingGoalDb.db" />
    </connectionStrings>
    <appSettings>
        <add key="dateFormat" value="dd/MM/yyyy HH:mm" />
    </appSettings>
</configuration>